{% extends 'base/base.html' %}
{% load static i18n %}
{% get_current_language_bidi as LANGUAGE_BIDI %}
{% get_current_language as LANGUAGE_CODE %}
{% block extra_header %}
    <link rel="stylesheet" href="{% static 'intro/slideshow.css' %}"/>
    <style>
        .myMenu > a {
            background-color: #1f292e !important;
        }

        .mobile_menu :hover {
            background-color: rgba(0, 0, 0, 0);
        }
    </style>
{% endblock %}
{% block content %}
    <div class="ui inverted vertical masthead segment"
         style="
                 background-image: url({% static 'intro/images/bg.png' %}); background-size: cover; background-repeat: no-repeat; background-position: center;background-attachment: fixed"
         id="topper">
        <div class="ui container">
            {% block navbar %}
                {% include 'base/main_navbar.html' %}
            {% endblock %}
            <div style="background-color: #222222dd; padding-left: 10%;padding-right: 10%;padding-top: 20px;padding-bottom: 10%;">
                <form method="post" class="ui inverted form " action="{% url 'contact_us:contact_us' %}">
                    {% csrf_token %}
                    {% if form.non_field_errors|length %}
                        <div class="ui red message">
                            {% for error in form.non_field_errors %}
                                {{ error }}
                            {% endfor %}
                        </div>
                    {% endif %}
                    <h3 class="ui orange dividing header">{% trans 'Contact Us' %}</h3>
                    <div class="field required">
                        <label>{% trans 'Name and Family Name' %}</label>
                        {{ form.name }}
                    </div>
                    {% if form.username.errors %}
                        <div class="ui message error" style="font-weight:bolder;color:#ED1A3A;">
                            <strong>{{ form.name.errors }}</strong>
                        </div>
                    {% endif %}
                    <div class="three fields">
                        <div class="field required">
                            <label>{% trans 'Country' %}</label>
                            {{ form.country }}
                        </div>
                        <div class="field required">
                            <label>{% trans 'School/University' %}</label>
                            {{ form.school_uni }}
                        </div>
                        <div class="field required">
                            <label>{% trans 'Study Grade' %}</label>
                            {{ form.study_grade }}
                        </div>
                    </div>
                    <div class="two fields">
                        <div class="field required">
                            <label>{% trans 'Email' %}</label>
                            {{ form.email }}
                        </div>
                        <div class="field">
                            <label>{% trans 'Phone Number' %}</label>
                            {{ form.phone_number }}
                        </div>
                    </div>
                    <div class="field required">
                        <label>{% trans 'Subject' %}</label>
                        {{ form.subject }}
                    </div>
                    <div class="field required ">
                        <label>{% trans 'Text' %}</label>
                        {{ form.text }}
                    </div>
                    <div class="field">
                        {{ form.captcha }}
                    </div>
                    {% if form.captcha.errors %}
                        <div class="ui message error" style="font-weight:bolder;color:#ED1A3A;">
                            {{ form.captcha.errors }}
                        </div>
                    {% endif %}

                    <button type="submit" id="button" class="ui inverted teal button"
                            style="font-weight: bolder">{% trans 'Send' %}</button>

                    {#                    {{ form.as_p }}#}
                    {#                    <button type="submit">Submit</button>#}
                </form>
            </div>
        </div>

    </div>


    {% block extra_script %}
        <script>
        </script>
    {% endblock %}
{% endblock %}