# Ignore everything
*
!*/

# Then add everything needed

!/apps/**
!/docs/**
!/.git/**
!/.github/**
!.gitignore
!/igo/**
!LICENSE
!/local/**
!manage.py
!requirements.txt
!/static/files/**
!/templates/**
