# Ignore everything
*
!*/

# Then add everything needed

!/apps/**
!/docs/**
!/.git/**
!/.github/**
!.gitignore
!/igo/**
!LICENSE
!/locale/**
!manage.py
!requirements.txt
!/static/files/**
!/templates/**
!/deploy/**
!docker-compose.yml
!Dockerfile
!/config/**
