beautifulsoup4==4.6.0
captcha==0.3
certifi==2019.6.16
chardet==3.0.4
Django==2.2.4
django-ckeditor==5.7.1
django-extensions==2.1.9
django-js-asset==1.2.2
django-modelcluster==4.4
django-recaptcha==2.0.4
django-taggit==0.24.0
django-treebeard==4.3
djangorestframework==3.9.4
draftjs-exporter==2.1.6
html5lib==1.0.1
idna==2.8
phonenumbers==8.10.14
Pillow==6.2.0
psycopg2==2.8.3
pycountry==18.12.8
python-thumbnails==0.5.1
pytz==2019.1
requests==2.6.0
six==1.9.0
sqlparse==0.3.0
Unidecode==1.1.1
urllib3==1.25.3
webencodings==0.5.1
Willow==1.1
