<!DOCTYPE html>
<html>
{% load static %}
{% load i18n %}
{% get_current_language_bidi as LANGUAGE_BIDI %}
{% get_current_language as LANGUAGE_CODE %}

<head>
    <meta charset="utf-8"/>
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible"/>
    <meta
            name="viewport"
            content="width=device-width, initial-scale=1, maximum-scale=2, user-scalable=no"
    />
    <meta
            name="description"
            content="IGO - Iranian Geometry Olympiad"
    />
    <meta name="keywords" content="IGO, igo, geometry, olympiad"/>
    <meta name="author" content="PPType"/>
    <meta name="theme-color" content="#ffffff"/>
    <title>IGO 2019</title>
    <link
            rel="shortuct icon"
            type="image/png"
            href="{% static 'intro/favicon.png' %}"
    />
    <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css"
            type="text/css"
    />
    <link rel="stylesheet" href="{% static 'styles/styles.css' %}">

    <script src="https://unpkg.com/scrollreveal"></script>

    {% block extra_header %}{% endblock %}

</head>

<body id="root" {% if LANGUAGE_CODE == "fa" %}dir="rtl"{% endif %}>
<div class="ui large top fixed hidden menu">
    <div class="ui container">
        <a class="active item">Home</a> <a class="item">Work</a>
        <a class="item">Company</a> <a class="item">Careers</a>
        <div  {% if LANGUAGE_CODE == "fa" %}class="left menu" {% else %} class="right menu"{% endif %}>

            <a class="fitted item popup-link" onclick="$('#changeLang').submit();" href="#"
               data-position="left center" data-inverted=""
               style="margin-left: 15px; margin-right: 15px" id="change_lang">
            <img class="ui mini circular image" src="{%if LANGUAGE_CODE == "fa" %}{% static '\intro\united-kingdom.png'%}{% else %}{% static '\intro\iran.png'%}{%endif%}">
            </a>

            <form name="changeLang" id="changeLang" action="/set_lang/" method="POST">
                {% csrf_token %}
                <input name="next" type="hidden" value="{{ request.path }}"/>
                <input type="hidden" name="language" value="{% if LANGUAGE_CODE == "fa" %}en{% else %}fa{% endif %}"/>
            </form>
            {#            <div class="item"><a class="ui button">Log in</a></div>#}
            {#            <div class="item"><a class="ui primary button">Sign Up</a></div>#}
        </div>
    </div>
</div>
<!--Sidebar Menu-->
<div class="ui vertical inverted sidebar menu" align="right" >
    <a class="item" >Home</a> <a class="item">Work</a>
    <a class="item">Company</a> <a class="item">Careers</a>
    {#    <a class="item">Login</a> <a class="item">Signup</a>#}
    <a class="fitted item popup-link" onclick="$('#changeLang').submit();" href="#"
       data-position="left center" data-inverted=""
       style="margin-left: 15px; margin-right: 15px;" id="change_lang">

        <img class="ui mini circular image" src="{% static '\intro\iran.png'%}">
    </a>
    <form name="changeLang" id="changeLang" action="/set_lang/" method="POST">
        {% csrf_token %}
        <input name="next" type="hidden" value="{{ request.path }}"/>
        <input type="hidden" name="language" value="{% if LANGUAGE_CODE == "fa" %}en{% else %}fa{% endif %}"/>
    </form>
</div>

<div class="pusher">


    {% block content %}

    {% endblock %}


    <div class="ui inverted vertical footer segment" style="background-color: rgb(0,0,0);" >
        <div class="ui container">
            <div
                    class="ui stackable inverted stackable  grid" style="padding-left: 10%;padding-right: 10%;">
                <div class="four wide coloumn" style="padding: 20px;">
                    <h4 class="ui inverted header">{% trans "Contact Us" %}</h4>
                    <div class="ui inverted link list">
                        <div class=" item"><a href="mailto:national.igo@gmail.com"><i
                                class="inverted orange large envelope icon "></i> national.igo@gmail.com</a></div>
                        <div class=" item"><a target="_blank" href="https://t.me/igo_official"><i
                                class="inverted blue large telegram plane icon"></i> igo_official</a></div>
                        <div class=" item"><a class="item" target="_blank"
                                              href="https://www.instagram.com/igo_official.ir"><i
                                class="inverted pink large instagram icon"></i>igo_official.ir</a></div>
                    </div>
                </div>
                <div class="four wide coloumn" style="padding: 20px;">
                    <h4 class="ui inverted header">{% trans "Services" %}</h4>
                    <div class="ui inverted link list">
                        <a class="item" href="#">{% trans "Previous Events" %}</a>
                        <a class="item" href="#">{% trans "Problems & Articles" %}</a>
                        <a class="item" href="#">{% trans "Blog" %}</a>
                    </div>
                </div>


                <div class="four wide coloumn" style="padding: auto;">
                    <h4 class="ui inverted header">{% trans "Subscribe Newsletter" %}</h4>
                    <form class="ui form" method="POST" id="notify" action="{% url 'blog:subscribe' %}">
                            {% csrf_token %}
                        <div class="field">
                            <div class="ui action input"
                                 style="height: 50px; width: 200px;">
                                <input type="email" placeholder="{% trans "Enter your Email" %}"
                                       style=" "
                                       id="email" name="email">
                                <button class="ui teal button" type="submit" id="button"
                                        style=" "
                                >
                                    {% trans 'Subscribe' %}
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/semantic.min.js"></script>
<script src={% static 'intro/scripts/slideshow.js' %}></script>
<script>
    $(document).ready(function () {
        // fix menu when passed
        $(".masthead").visibility({
            once: false,
            onBottomPassed: function () {
                $(".fixed.menu").transition("fade in");
            },
            onBottomPassedReverse: function () {
                $(".fixed.menu").transition("fade out");
            }
        });

        // create sidebar and attach to menu open
        $(".ui.sidebar").sidebar("attach events", ".toc.item");
    });
</script>
<script>
    ScrollReveal().reveal('.faded_class', {delay: 500});
</script>
{% block extra_script %}{% endblock %}


</body>
</html>
