{% load static i18n %}
{% get_current_language_bidi as LANGUAGE_BIDI %}
{% get_current_language as LANGUAGE_CODE %}

<div class="ui large secondary inverted pointing menu">
    <a class="toc item"><i class="sidebar icon"></i></a>
    <a class="active item">Home</a>
    <a class="item">Work</a>
    <a class="item">Company</a>
    <a class="item">Careers</a>
    <div class="right item">
        <a class="fitted mobile-only item popup-link" onclick="$('#changeLang').submit();" href="#"
           data-position="left center" data-inverted=""
           style="margin-left: 15px; margin-right: 15px" id="change_lang"> {% trans 'Change Language' %}

            <i class="world icon huge-icon"></i>
        </a>
        {{ LANGUAGE_CODE }}

        <form name="changeLang" action="/set_lang/" method="POST">
            {% csrf_token %}
            <input name="next" type="hidden" value="{{ request.path }}"/>
            <input type="hidden" name="language" value="{% if LANGUAGE_CODE == "fa" %}en{% else %}fa{% endif %}"/>
        </form>
        {#                    <a class="ui inverted button">Log in</a>#}
        {#                    <a class="ui inverted button">Sign Up</a>#}
    </div>
</div>