{% extends 'base/base.html' %}
{% load static i18n %}
{% load template_filters %}
{% get_current_language_bidi as LANGUAGE_BIDI %}
{% get_current_language as LANGUAGE_CODE %}
{% block extra_header %}
<link rel="stylesheet" href="{% static 'intro/slideshow.css' %}"/>
<style>
    .myMenu > a {
        background-color: #222222dd !important;
    }

    .mobile_menu :hover {
        background-color: rgba(0, 0, 0, 0);
    }
</style>
{% endblock %}
{% block content %}
<div class="ui inverted vertical masthead center aligned segment"
     style="min-height: 100vh;
                 background-image: url({% static 'intro/images/bg.png' %}); background-size: cover; background-repeat: no-repeat; background-position: center; background-attachment: fixed"
     id="topper">
    <div class="ui container">
        {% block navbar %}
        {% include 'base/main_navbar.html' %}
        {% endblock %}

        <div class="ui stackable grid" >
                     <div class="four wide column mobile-hidden">
                <div class="ui inverted vertical fluid right menu myMenu">
                    {% for ev in events %}
                    {% if event.year == ev.year %}
                    <a class="active item" style="font-weight: bolder" href="/gallery/{{ ev.pk }}/">
                            <span style="color:lightseagreen ">
                                {% if LANGUAGE_CODE == "fa" %}
                                    {{ ev.persian_name }}
                                {% else %}
                                    {{ event.english_name }}
                                {% endif %}
                            </span>
                    </a>
                    {% else %}
                    <a class="item" href="/gallery/{{ ev.pk }}/">
                        {% if LANGUAGE_CODE == "fa" %}
                            {{ ev.persian_name }}
                        {% else %}
                            {{ ev.english_name }}
                        {% endif %}
                    </a>
                    {% endif %}
                    {%endfor%}
                </div>

            </div>
            <div class="four wide column mobile-only">
                <div class="ui inverted pointing fluid stackable menu myMenu"
                     style="border: 0; color: darkred;">
                    {% for ev in events %}
                    {% if event.year == ev.year %}
                    <a class="active item" href="/gallery/{{ ev.pk }}/">
                        {% if LANGUAGE_CODE == "fa" %}
                            {{ ev.persian_name }}
                        {% else %}
                            {{ ev.english_name }}
                        {% endif %}
                    </a>
                    {% else %}
                    <a class="active item" href="/gallery/{{ ev.pk }}/">
                        {% if LANGUAGE_CODE == "fa" %}
                            {{ ev.persian_name }}
                        {% else %}
                            {{ ev.english_name }}
                        {% endif %}
                    </a>
                    {% endif %}
                    {% endfor %}

                </div>
            </div>
            <div class="twelve wide center aligned stretched column">
                <div class="ui inverted segment" style="background-color: #222222dd;padding:auto" dir="rtl"
                     align="right">
                        {% for country_images in by_country_event_images %}
                            <div class="ui white center aligned dividing header">
                                {% if LANGUAGE_CODE == "fa" %}
                                    {{ country_images.coev.country.persian_name }}
                                {% else %}
                                    {{ country_images.coev.country.english_name }}
                                {% endif %}
                            </div>

                            <div class="ui stackable two column grid" dir="{% if LANGUAGE_CODE == "fa" %}rtl{% else %}ltr{% endif %}">
                                {% for image in country_images.images %}
                                    <div class="ui center aligned column">
                                        <div style="display: flex; justify-content: center">
                                            <div class="ui image">
                                                <img src="{{ image.image.url }}" style="height: 300px;">
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        {% endfor %}

                </div>
            </div>

            
        </div>


    </div>

</div>


{% endblock %}

