/**
*
*	Name:			IRAN Sans-Serif Font
*	Version:		5.0
*	Author:			Moslem Ebrahimi (moslemebrahimi.com)
*	Created on:		Dec 25, 2012
*	Updated on:		Sep 01, 2017
*	Website:		             http://fontiran.com
*	Copyright:		Commercial/Proprietary Software
--------------------------------------------------------------------------------------
فونت های ایران سن سریف یک نرم افزار مالکیتی محسوب می شود. جهت آگاهی از قوانین استفاده از این فونت ها لطفا به وب سایت (فونت ایران دات کام) مراجعه نمایید
--------------------------------------------------------------------------------------
IRAN Sans-serif fonts are considered a proprietary software. To gain information about the laws regarding the use of these fonts, please visit www.fontiran.com
--------------------------------------------------------------------------------------
This set of fonts are used in this project under the license: (.....)
--------------------------------------------------------------------------------------
*
**/

@font-face {
	font-family: "IRANSans";
	font-style: normal;
	font-weight: 900;
	src: url('/static/fonts/WebFonts/fonts/eot/IRANSansWeb_Black.eot');
	src: url('/static/fonts/WebFonts/fonts/eot/IRANSansWeb_Black.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('/static/fonts/WebFonts/fonts/woff2/IRANSansWeb_Black.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('/static/fonts/WebFonts/fonts/woff/IRANSansWeb_Black.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('/static/fonts/WebFonts/fonts/ttf/IRANSansWeb_Black.ttf') format('truetype');
}

@font-face {
	font-family: "IRANSans";
	font-style: normal;
	font-weight: bold;
	src: url('/static/fonts/WebFonts/fonts/eot/IRANSansWeb_Bold.eot');
	src: url('/static/fonts/WebFonts/fonts/eot/IRANSansWeb_Bold.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('/static/fonts/WebFonts/fonts/woff2/IRANSansWeb_Bold.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('/static/fonts/WebFonts/fonts/woff/IRANSansWeb_Bold.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('/static/fonts/WebFonts/fonts/ttf/IRANSansWeb_Bold.ttf') format('truetype');
}

@font-face {
	font-family: "IRANSans";
	font-style: normal;
	font-weight: 500;
	src: url('/static/fonts/WebFonts/fonts/eot/IRANSansWeb_Medium.eot');
	src: url('/static/fonts/WebFonts/fonts/eot/IRANSansWeb_Medium.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('/static/fonts/WebFonts/fonts/woff2/IRANSansWeb_Medium.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('/static/fonts/WebFonts/fonts/woff/IRANSansWeb_Medium.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('/static/fonts/WebFonts/fonts/ttf/IRANSansWeb_Medium.ttf') format('truetype');
}

@font-face {
	font-family: "IRANSans";
	font-style: normal;
	font-weight: 300;
	src: url('/static/fonts/WebFonts/fonts/eot/IRANSansWeb_Light.eot');
	src: url('/static/fonts/WebFonts/fonts/eot/IRANSansWeb_Light.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('/static/fonts/WebFonts/fonts/woff2/IRANSansWeb_Light.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('/static/fonts/WebFonts/fonts/woff/IRANSansWeb_Light.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('/static/fonts/WebFonts/fonts/ttf/IRANSansWeb_Light.ttf') format('truetype');
}

@font-face {
	font-family: "IRANSans";
	font-style: normal;
	font-weight: 200;
	src: url('/static/fonts/WebFonts/fonts/eot/IRANSansWeb_UltraLight.eot');
	src: url('/static/fonts/WebFonts/fonts/eot/IRANSansWeb_UltraLight.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('/static/fonts/WebFonts/fonts/woff2/IRANSansWeb_UltraLight.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('/static/fonts/WebFonts/fonts/woff/IRANSansWeb_UltraLight.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('/static/fonts/WebFonts/fonts/ttf/IRANSansWeb_UltraLight.ttf') format('truetype');
}

@font-face {
	font-family: "IRANSans";
	font-style: normal;
	font-weight: normal;
	src: url('/static/fonts/WebFonts/fonts/eot/IRANSansWeb.eot');
	src: url('/static/fonts/WebFonts/fonts/eot/IRANSansWeb.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('/static/fonts/WebFonts/fonts/woff2/IRANSansWeb.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('/static/fonts/WebFonts/fonts/woff/IRANSansWeb.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('/static/fonts/WebFonts/fonts/ttf/IRANSansWeb.ttf') format('truetype');
}

* {
    font-family: "IRANSans" !important;
}

html {
  scroll-behavior: smooth;
}

i {
    font-family: "Icons" !important;
}

body {
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: grayscale;
}

.hidden.menu {
    display: none;
}

.masthead.segment {
    min-height: 600px;
    padding: 1em 0em;
}

.masthead .logo.item img {
    margin-right: 1em;
}

.masthead .ui.menu .ui.button {
    margin-left: 0.5em;
}

.masthead h1.ui.header {
    margin-top: 2em;
    margin-bottom: 0em;
    font-size: 4em;
    font-weight: normal;
}

.masthead h2 {
    font-size: 1.7em;
    font-weight: normal;
}

.ui.vertical.stripe {
    padding: 8em 0em;
}

.ui.vertical.stripe h3 {
    font-size: 2em;
}

.ui.vertical.stripe .button + h3,
.ui.vertical.stripe p + h3 {
    margin-top: 3em;
}

.ui.vertical.stripe .floated.image {
    clear: both;
}

.ui.vertical.stripe p {
    font-size: 1.33em;
}

.ui.vertical.stripe .horizontal.divider {
    margin: 3em 0em;
}

.quote.stripe.segment {
    padding: 0em;
}

.quote.stripe.segment .grid .column {
    padding-top: 5em;
    padding-bottom: 5em;
}

.footer.segment {
    padding: 5em 0em;
}

.secondary.pointing.menu .toc.item {
    display: none;
}

@media only screen and (max-width: 700px) {
    .ui.fixed.menu {
        display: none !important;
    }

    .secondary.pointing.menu .item,
    .secondary.pointing.menu .menu {
        display: none;
    }

    .secondary.pointing.menu .toc.item {
        display: block;
    }

    .masthead.segment {
        min-height: 350px;
    }

    .masthead h1.ui.header {
        font-size: 2em;
        margin-top: 1.5em;
    }

    .masthead h2 {
        margin-top: 0.5em;
        font-size: 1.5em;
    }


}

.register {
    background-color: rgba(232, 232, 232, 1) !important;
    color: black !important;
    border-radius: 5vh !important;
    height: 8vh !important;
    width: 50vh !important;
    text-align: center !important;
    position: absolute !important;
    padding-top: 1vh !important;
    padding-bottom: 1vh !important;
    margin: 0 !important;

    transition: 0.3s ease;
    text-shadow: 0 0 1em;
}

.guide {
    background-color: rgba(232, 232, 232, 1) !important;
    color: black !important;
    border-radius: 5vh !important;
    height: 8vh !important;
    width: 50vh !important;
    text-align: center !important;
    position: absolute !important;
    padding-top: 1vh !important;
    padding-bottom: 1vh !important;
    margin: 0 !important;

    transition: 0.3s ease;
    text-shadow: 0 0 1em;
}

.guide:hover {
    background: #f2502c !important;
    color: white !important;
}

.register:hover {
    background: #00accf !important;
    color: white !important;
}

.register-mobile {
    visibility: hidden !important;
    display: none !important;
}

.register-fa {
    transform: rotate(+90deg);
    top: 40vh;
    left: -5vw;
}

.register-en {
    transform: rotate(-90deg);
    top: 40vh;
    right: -5vw;
}

@media only screen and (max-width: 700px) {

    .register {
        visibility: hidden !important;
        display: none !important;
    }

    .guide {
        visibility: hidden !important;
        display: none !important;
    }

    .register-mobile {
        visibility: visible !important;
        display: block !important;
        margin-bottom: 2vh !important;
        position: relative !important;
        width: 100% !important;
    }

    .register-fa {
        left: -30vw;
    }

    .register-en {
        right: -30vw;
    }

    .title {
        font-size: 8vh !important;
    }

}

.fingil {
    border-radius: 10px !important;
    background-color: transparent !important;
    color: white !important;
    font-weight: 900 !important;
    border: 0px !important;
    font-family: "IRANSans" !important;
    display: flex !important;
    justify-content: center !important;
}

.fingil-border {
    border-radius: 0px !important;
    border-left: 2px solid white !important;
    border-right: 2px solid white !important;
}

.gingil {
    display: flex;
    align-content: center;
    align-items: center;
    height: 100%;
    justify-content: center;
}

.gingily {
    bottom: 5vh;
    width: 100%;
}

@media only screen and (min-width: 768px) {
    .mobile-only {
        display: none !important;
    }
}

@media only screen and (max-width: 767px) {
    .mobile-hidden {
        display: none !important;
    }
}
