{% extends 'base/base.html' %}
{% load static i18n %}
{% get_current_language_bidi as LANGUAGE_BIDI %}
{% get_current_language as LANGUAGE_CODE %}
{% block extra_header %}
    <link rel="stylesheet" href="{% static 'intro/slideshow.css' %}"/>
{% endblock %}


{% block content %}
    <div class="ui inverted vertical masthead center aligned segment"
         style="width: 100vw; height: 100vh;
                 background-image: url({% static 'intro/images/bg.png' %}); background-size: cover; background-repeat: no-repeat; background-position: center;"
         id="topper">


        <div class="ui center aligned segment register
            {% if LANGUAGE_CODE == "fa" %}
                register-fa
                {% else %}
                register-en
            {% endif %}
                " style="visibility: hidden">
            <h1>{% trans "Register now!" %}</h1>
        </div>
        <div class="ui container">


            {% block navbar %}
                {% include 'base/main_navbar.html' %}
            {% endblock %}

            {% if LANGUAGE_CODE == "en" %}

            <div class="ui left aligned huge header title" id="title" style="color: white; font-size: 10vh; font-weight: 900"><p>6th<br>Iranian<br>Geometry<br>Olympiad<br></p>
                </div>
            {% else %}
                <div class="ui right aligned huge header title" id="title"
                                                          style="color: white; font-size: 10vh; font-weight: 900">ششمین<br>المپیاد<br>هندسهٔ<br>ایران<br>
                </div>

            {% endif %}



            <div class="center aligned segments"
                 style="width: 25rem; left: 0; right: 0; max-width: 90vw; margin-left: auto; margin-right: auto; position: absolute; bottom: 20vh;">

                <div class="ui center aligned segment register">
                    <div style="height: 100%; display: flex; align-items: center; justify-content: center;">
                    
                        <h1>{% trans "Coming soon..." %}</h1>
                    </div>
                </div>
            </div>


            <div class="center aligned segments"
                 style="width: 25rem; left: 0; right: 0; max-width: 90vw; margin-left: auto; margin-right: auto; position: absolute; bottom: 2vh; visibility: hidden; display: none">

            <a href="">
            <div class="ui center aligned segment register register-mobile">
                <h1>{% trans "Register now!" %}</h1>
            </div>
            </a>
               <div class="ui center aligned attached segment fingil"
                     style="background-color: #E8E8E8 !important; color: black !important; border-radius: 2.5vh !important; height: 5vh !important; line-height: 0.5vh; width: 100% !important; text-align: center">
                    {% trans " for students and graduates" %}
                </div>
                <div class="ui center aligned horizontal attached segment segments fingil">
                     {% if LANGUAGE_CODE == 'fa' %}
                    <div class="ui center aligned attached segment fingil">{% trans "Tehran &ensp;|&ensp; Mashhad &ensp;|&ensp; Shiraz &ensp;|&ensp; Isfahan &ensp;|&ensp; Tabriz" %}
                    </div>
                    {% else %}
                    <div class="ui center aligned attached segment">
                    </div>
                    {% endif %}
                </div>
                <div class="ui horizontal attached segment segments fingil" style="margin-top: -2vh">
                    <div class="ui center aligned attached segment fingil">
                        <div class="ui white large circular label"
                             style="color: black; height: 4vh; width: 15vh">{% trans "17 Aug" %}
                        </div>
                    </div>
                    <div class="ui center aligned attached segment fingil">
                        <div class="ui white large circular label"
                             style="color: black; height: 4vh; width: 15vh"> {% trans "13 Sep" %}
                        </div>
                    </div>
                    <div class="ui center aligned attached segment fingil">
                        <div class="ui white large circular label"
                             style="color: black; height: 4vh; width: 15vh">{% trans "19 Sep" %}
                        </div>
                    </div>
                </div>

                <div class="ui horizontal attached segment segments fingil" style="margin-top: -3vh">
                    <div class="ui center aligned attached segment fingil">
                        {% trans "Registration" %}
                    </div>
                    <div class="ui center aligned attached segment fingil">
                        {% trans "Exam" %}
                    </div>
                    <div class="ui center aligned attached segment fingil">
                        {% trans "Closing" %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="ui inverted vertical stripe segment">
        <div class="ui middle aligned stackable grid container">
            <div class="row">
                <div class="eight wide column">
                    <h3 class="ui header faded_class" style="color:white;"><i
                            class="inverted red id card outline icon"></i>{% trans "Introduction" %}
                    </h3>
                    {% if LANGUAGE_CODE == 'en' %}
                        <p class="faded_class" style="text-align: justify;text-justify: inter-word;">
                            Geometry is one of the oldest subfields of human science. Since 2014, Geometry Olympiad
                            aimed to pay more attention to geometry and promote geometric and logical thinking. This
                            event is an annual academic competition for high school students which extended its activity
                            to international level in 2015, whereby it is simultaneously held in different countries
                            around the world.
                        </p>
                    {% else %}
                        <p class="faded_class" style="text-align: justify;text-justify: inter-word; ">
                            هندسه به عنوان یکی از شاخه‌های اصلی ریاضیات، قدمتی باستانی دارد.
                            حل مسائل هندسی به عنوان چالشی خلاقیت‌برانگیز همواره درمیان ریاضی‌دانان و دوست‌داران ریاضیات
                            از محبوبیت بالایی برخوردار بوده‌ است.
                            در ایران نیز دانشمندان بزرگی همچون ابوریحان بیرونی و غیاث‌الدین جمشید کاشانی نقش مهمی در
                            پیشرفت و گسترش مرزهای هندسه در عصر خود داشته‌اند. این پیشینهٔ تاریخی سبب شده تا به امروز
                            آموزش هندسه در ایران از اهمیت ویژه‌ای برخوردار باشد که کسب نتایج درخشان دانش‌آموزان کشورمان
                            در مسابقات بین‌المللی مانند المپیاد جهانی ریاضی گواهی بر این مدعاست.
                            در سال ۱۳۹۳ جمعی از معلمان و علاقه‌مندان این حوزه با هدف ترویج و عمومی کردن هندسه در سطح
                            کشور و ایجاد بستری مناسب برای ارتباط بین علاقه‌مندان در سرتاسر جهان، اقدام به راه‌اندازی
                            «المپیاد هندسهٔ ایران» کردند. این رویداد همه‌ساله در نیمهٔ دوم شهریور ماه در ایران و بسیاری
                            از کشورهای جهان برگزار می‌شود.
                        </p>
                    {% endif %}
                </div>
                <div class="six wide {% if LANGUAGE_CODE == "fa" %}left{% else %}right{% endif %} floated column faded_class">
                    <img
                            class="ui huge rounded image"
                            src="{% static 'intro/images/logo.png' %}"
                    >
                </div>
            </div>

        </div>
    </div>

    <div class="ui inverted vertical stripe segment" style="background-color: black">
        <div class="ui middle aligned stackable grid container">
            <div class="row" style="padding-bottom: 20vh">
                <div class="two wide {% if LANGUAGE_CODE == "fa" %}left{% else %}right{% endif %} floated column faded_class">
                </div>
                <div class="ten wide column">
                    <h3 class="ui header faded_class" style="color:white"><i
                            class="inverted purple check square icon"></i>{% trans "Goals" %}
                    </h3>
                    <p class="faded_class">
                        <ul style="list-style-type: square; " class="faded_class">
                            {% if LANGUAGE_CODE == 'en' %}
                                <li>
                                <p>Paving the way for geometry lovers to extend their communication in their home
                                    country and also around the world</p>
                                </li>

                                <li>
                                    <p>Providing geometry teachers with opportunities to exchange their knowledge and
                                        experience to improve and enrich high school education</p>
                                </li>

                                <li>
                                    <p>Identifying and guiding geometry talents in Iran a proper scientific
                                        direction</p>
                                </li>

                                <li>
                                    <p>Promoting geometric thinking among different people, including students,
                                        teachers, and academics</p>
                                </li>

                                <li>
                                    <p>Further promotion of the quality of geometry in each country </p>
                                </li>

                                <li>
                                    <p>Cooperating with Mathematical Olympiad to advance mathematics </p>
                                </li>

                            {% else %}
                                <li>
                                    <p>ﺷﻨﺎﺳﺎﯾﯽ اﺳﺘﻌﺪادﻫﺎی ﻫﻨﺪﺳﻪ در ﮐﺸﻮر و اراﺋﻪ ﻣﺴﯿﺮ ﻋﻠﻤﯽ ﻣﻨﺎﺳﺐ ﺑﻪ آن‌ها</p>
                                </li>

                                <li>
                                    <p> اﯾﺠﺎد ﻓﺮﺻﺘﯽ ﺑﺮای ﺗﺒﺎدل داﻧﺶ و ﺗﺠﺮﺑﯿﺎت ﻣﻌﻠﻤﺎن ﻫﻨﺪﺳﻪ ﺑﺮای ارﺗﻘﺎء ﺳﻄﺢ آﻣﻮزش
                                        دﺑﯿﺮﺳﺘﺎﻧﯽ</p>
                                </li>

                                <li>
                                    <p>ﻋﻤﻮﻣﯽ ﮐﺮدن ﺗﻔﮑﺮ ﻫﻨﺪﺳﯽ در ﺑﯿﻦ اﻗﺸﺎر ﻣﺨﺘﻠﻒ اﻋﻢ از داﻧﺶ آﻣﻮزان، ﻣﻌﻠﻤﯿﻦ و
                                        داﻧﺸﮕﺎﻫﯿﺎن</p>
                                </li>

                                <li>
                                    <p>اﯾﺠﺎد ﺑﺴﺘﺮی ﺑﺮای ارﺗﺒﺎط ﺑﯿﻦ ﻋﻼﻗﻪﻣﻨﺪان ﺑﻪ ﻫﻨﺪﺳﻪ</p>
                                </li>

                                <li>
                                    <p>ارﺗﻘﺎء ﻫﺮﭼﻪ ﺑﯿﺸﺘﺮ ﺳﻄﺢ ﮐﯿﻔﯽ ﻫﻨﺪﺳﻪ در ﮐﺸﻮر</p>
                                </li>

                                <li>
                                    <p>اﯾﺠﺎد ﻓﻌﺎﻟﯿﺖ‌ﻫﺎﯾﯽ در ﮐﻨﺎر اﻟﻤﭙﯿﺎد رﯾﺎﺿﯽ ﺑﺮای ﺗﺮوﯾﺞ رﯾﺎﺿﯿﺎت</p>
                                </li>

                            {% endif %}
                    </ul>
                    </p>
                </div>
                <div class="two wide {% if LANGUAGE_CODE == "fa" %}left{% else %}right{% endif %} floated column faded_class">
            </div>

        </div>
    </div >

    <div class="ui inverted vertical stripe segment">
        <div class="ui middle aligned stackable grid container">
            <div class="row">
                <div class="two wide {% if LANGUAGE_CODE == "fa" %}left{% else %}right{% endif %} floated column faded_class">
                </div>
                <div class="ten wide column">
                    <h3 class="ui header faded_class" style="color:white"><i
                            class="inverted teal flag icon"></i>{% trans "Participating of foreign countries" %} </h3>
                    {% if LANGUAGE_CODE == 'en' %}
                    <p class="faded_class" style="text-align: justify;text-justify: inter-word;">
                    We are proud to announce that a total of 56 countries took part in the 5th IGO event, we hereby extend our profound gratitude to these countries for their participation:
Afghanistan, Argentina, Armenia, Australia, Bangladesh, Belarus, Bolivia, Bosnia and Herzegovina, Brazil, Bulgaria, China, Costa rica, Croatia, Cuba, Czech, Denmark, Ecuador, El Salvador, Estonia, Finland, Georgia, Guatemala, India, Indonesia, Iran, Iraq, Ireland, Italy, Kazakhstan, Kosovo, Kyrgyzstan, Macedonia, Malaysia, Mexico, Nepal, Netherlands, Nicaragua, Nigeria, Pakistan, Panama, Poland, Philippines, Republic of Korea, Republic of Moldova, Romania, Russia, South Africa, Sweden, Syria, Tajikistan, Turkey, Turkmenistan, Ukraine, United Kingdom, Venezuela, Vietnam
                    </p>
                    {% else %}
                    <p class="faded_class" style="text-align: justify;text-justify: inter-word;">
                        کشورهای زیر در پنجمین المپیاد هندسه شرکت کردند:
افغانستان، آرژانتین، آفریقای جنوبی، آلبانی، ارمنستان، استرالیا، استونی، اکوادور، الجزایر، السالوادور، اندونزی، انگلستان، اوکراین، ایتالیا، ایران، ایرلند، برزیل، بلاروس،  بلغارستان، بنگلادش، بوسنی و هرزگوین، بولیوی، پاکستان، پاناما، تاجیکستان، ترکمنستان، ترکیه، چک، چین، دانمارک، دومنیکن، روسیه، رومانی، سوئد، سوریه، عراق، فنلاند،  فیلیپین، قرقیزستان، قزاقستان، کره جنوبی، کاستاریکا، کرواسی، کوبا، کوزوو، گرجستان، گواتمالا، لهستان، مالزی، مقدونیه، مکزیک، مولداوی، نپال، نیجریه، نیکاراگوئه، هلند، هند، ونزوئلا، ویتنام
                    </p>
                    {% endif %}
                </div>
                <div class="two wide {% if LANGUAGE_CODE == "fa" %}left{% else %}right{% endif %} floated column faded_class">
                </div>
            </div>

        </div>
    </div>

    <div class="ui inverted vertical stripe quote segment mySegment"
         style="background-color:rgb(0,0,0);padding-right: 5%;padding-left: 5%;">

        <div class="ui equal width stackable internally  grid">
            <div class="center aligned row">
                <div class="column">
                    <h1 class="faded_class"><i class="inverted red huge child icon"></i></h1>
                    <h1 class="faded_class"><i class="inverted yellow large star icon"></i></h1>
                    <h3 class="ui inverted header faded_class">{% trans "Elementary Level" %}</h3>
                    {% if LANGUAGE_CODE == 'en' %}
                    <h4 class=" inverted sub centered header faded_class">
                        7th and 8th-grade students
                    </h4>
                    {% else %}
                    <h4 class=" inverted sub centered header faded_class">
                        ورودی پایه‌ی هفتم و هشتم
                    </h4>
                    {% endif %}
                    <div class="faded_class" align="{% if LANGUAGE_CODE == "fa" %} right {% else %} left{% endif %}">
                        <ul class="faded_class" style="list-style-type: none; text-align: center; margin-left: 0; margin-right: 0; padding-inline-start: 0;">
                            {% if LANGUAGE_CODE == 'en' %}
                                <li> Angles (triangle and polygons)</li>
                                <li> Parallel and diagonal lines</li>
                                <li> Triangles and polygons equality</li>
                                <li> Properties of isosceles triangles and right triangles</li>
                                <li> Pythagorean Theorem</li>
                                <li> Triangular inequality</li>
                                <li> Transition, symmetry, rotation</li>
                                <li> Quadrilateral properties (parallelogram, trapezoid)</li>
                                <li> Area</li>
                                <li> Spatial geometry (volume, area, etc)</li>
                            {% else %}
                                <li>  زاویه (مثلث و چندضلعی‌ها) </li>
                                <li> خطوط موازی و مورب </li>
                                <li>  هم‌نهشتی اشکال (مثلث و چندضلعی‌ها) </li>
                                <li>  خواص مثلث متساوی‌الساقین و قائم‌الزاویه </li>
                                <li> قضیه‌ی فیثاغورث </li>
                                <li>  نامساوی مثلثی </li>
                                <li> انتقال، تقارن، دوران </li>
                                <li> خواص چهارضلعی‌ها (متوازی‌الاضلاع، ذوزنقه) </li>
                                <li>  مساحت </li>
                                <li> هندسه‌ی فضایی(حجم، مساحت،..) </li>
                            {% endif %}
                        </ul>
                    </div>
                </div>

                <div class="column">
                    <h1 class="faded_class"><i class="inverted purple huge child icon"></i></h1>
                    <h1 class="faded_class"><i class="inverted yellow large star icon"></i><i class="inverted yellow large star icon"></i></h1>
                    <h3 class="ui inverted header faded_class">{% trans "Intermediate Level" %}</h3>
                    {% if LANGUAGE_CODE == 'en' %}
                    <h4 class=" inverted sub centered header faded_class">
                         9th and 10th-grade students
                    </h4>
                    {% else %}
                    <h4 class=" inverted sub centered header faded_class">ورودی پایه‎های نهم و دهم</h4>
                    {% endif %}
                    <div class="faded_class">
                        <ul class="faded_class" style="list-style-type: none; text-align: center; margin-left: 0; margin-right: 0; padding-inline-start: 0;">
                            {% if LANGUAGE_CODE == 'en' %}
                                <li> All elementary level syllabuses </li>
                                <li> Circles </li>
                                <li> Similarity theorem </li>
                                <li> Power of a point in a circle </li>
                                <li> Inscribed and tangential quadrilaterals </li>
                            {% else %}
                                <li>تمام سرفصل‌های سطح مقدماتی</li>
                                <li>  دایره </li>
                                <li> تشابه </li>
                                <li> قوت نقطه نسبت به دایره </li>
                                <li> چهارضلعی های محیطی و محاطی </li>
                            {% endif %}
                        </ul>
                    </div>
                </div>

                <div class="column ">
                    <h1 class="faded_class"><i class="inverted teal huge child icon"></i></h1>
                    <h1 class="faded_class"><i class="inverted yellow large star icon"></i>
                        <i class="inverted yellow large star icon"></i>
                        <i class="inverted yellow large star icon"></i></h1>
                    <h3 class="ui inverted header faded_class">{% trans "Advanced Level" %}</h3>
                    {% if LANGUAGE_CODE == 'en' %}
                    <h4 class=" inverted sub centered header faded_class">
                        11th and 12th-grade students, graduates
                    </h4>
                    {% else %}
                    <h4 class=" inverted sub centered header faded_class">
                        ورودی پایه‌‎های یازدهم، دوازدهم و فارغ التحصیلان
                    </h4>
                    {% endif %}
                    <div class="faded_class">
                        <ul class="faded_class" style="list-style-type: none; text-align: center; margin-left: 0; margin-right: 0; padding-inline-start: 0;">
                            {% if LANGUAGE_CODE == 'en' %}
                                <li> All topics in plane and spatial geometry </li>

                            {% else %}
                                <li>  همه مباحث هندسه (مسطحه و فضایی)  </li>

                            {% endif %}
                        </ul>
                    </div>
                </div>


            </div>
        </div>
    </div>


    {% if LANGUAGE_CODE == "fa" %}
        {#rsources#}
        <div class="ui vertical stripe quote segment inverted">
            <div style="padding-right: 5%; padding-left: 5%;">

                <h1 class="ui inverted header faded_class" align="center" style="padding-top: 5%">منابع مناسب</h1>
                <h4 class="inverted  header faded_class" align="center">علاقه‌مندان به شرکت در المپیاد هندسۀ ایران
                    می‌توانند از هر منبعی که سرفصل‌های بالا را پوشش دهد استفاده کنند. با این حال، علاوه بر کتاب‌های
                    درسی، کتاب‌های زیر به عنوان مناسب‌ترین منابع پیشنهاد می‌شوند</h4>
                <h4 class="inverted  header faded_class" align="center"> همچنین برای استفاده از مقالات و مسئله ها
                    میتوانید به این <a href="/articles/">لینک</a> مراجعه کنید</h4>
                {#todo link of articles#}

                <div class="ui equal width stackable internally grid" dir="rtl">
                    <div class="center aligned row">
                        <div class="column">
                            <h1 class="faded_class"><i class="inverted red big book icon"></i></h1>
                            <h3 class="faded_class"> سطح مقدماتی</h3>
                            <div class="faded_class" align="right">

                                <ul class="faded_class" style="list-style-type: none">
                                    <li>
                                        <h5 dir="rtl"><i class="book icon"></i><a style="color: darkgray" href="https://shahreketabonline.com/products/371/233679/%D9%81%D8%A7%D8%B7%D9%85%DB%8C_%D9%87%D9%86%D8%AF%D8%B3%D9%87_%D8%A7%D8%B2_%D8%A7%D8%A8%D8%AA%D8%AF%D8%A7_%D8%AA%D8%A7_%D8%AC%D9%84%D8%AF_%D8%A7%D9%88%D9%84"> هندسه از ابتدا تا ... </a>
                                            <br>ارشک حمیدی
                                            <br> انتشارات هاروارد
                                        </h5>

                                    </li>

                                </ul>
                            </div>
                        </div>
                        <div class="column">
                            <h1 class="faded_class"><i class="inverted purple big book icon"></i><i
                                    class="inverted purple big book icon"></i>
                            </h1>
                            <h3 class="faded_class">سطح متوسط</h3>
                            <div class="faded_class" align="right">
                                <ul class="faded_class" style="list-style-type: none">
                                    <li>
                                        <h5 dir="rtl"><i class="book icon"></i><a style="color: darkgray" href="https://shahreketabonline.com/products/371/233679/%D9%81%D8%A7%D8%B7%D9%85%DB%8C_%D9%87%D9%86%D8%AF%D8%B3%D9%87_%D8%A7%D8%B2_%D8%A7%D8%A8%D8%AA%D8%AF%D8%A7_%D8%AA%D8%A7_%D8%AC%D9%84%D8%AF_%D8%A7%D9%88%D9%84"> هندسه از ابتدا تا ... </a>
                                            <br>ارشک حمیدی
                                            <br> انتشارات هاروارد
                                        </h5>

                                    </li>
                                    <br>
                                    <li>
                                        <h5 dir="rtl"><i class="book icon"></i><a style="color: darkgray" href="https://shahreketabonline.com/products/371/235609/%D8%AE%D9%88%D8%B4%D8%AE%D9%88%D8%A7%D9%86_%D9%87%D9%86%D8%AF%D8%B3%D9%87_%D9%85%D8%B3%D8%B7%D8%AD%D9%87"> هندسه‌ی مسطحه، از مقدمات تا المپیاد </a>
                                            <br>سیامک احمدپور، مصطفی مسگری
                                            <br> انتشارات خوشخوان
                                        </h5>

                                    </li>
                                    <br>
                                    <li>
                                        <h5 dir="rtl"><i class="book icon"></i>استراتژی های حل مسائل هندسه
                                            <br>مرتضی عدل، محمد احمدی
                                            <br> انتشارات دانش‌پژوهان جوان
                                        </h5>

                                    </li>

                                </ul>
                            </div>
                        </div>
                        <div class="column">
                            <h1 class="faded_class"><i class="inverted teal big book icon"></i><i
                                    class="inverted teal big book icon"></i><i
                                    class="inverted teal big book icon"></i></h1>

                            <h3 class="faded_class"> سطح پیشرفته</h3>
                            <div class="faded_class" align="right">
                                <ul class="faded_class" style="list-style-type: none">
                                    <li>
                                        <h5 dir="rtl"><i class="book icon"></i>هندسه‌ی مسطحه، مقدمه‌ای بر هندسه‌ی نوین مثلث
                                            و دایره
                                            <br>ناتان آلتشیلرکورت
                                            <br> انتشارات فاطمی
                                        </h5>

                                    </li>
                                    <br>
                                    <li>
                                        <h5 dir="rtl"><i class="book icon"></i><a style="color: darkgray" href="https://shahreketabonline.com/products/371/235609/%D8%AE%D9%88%D8%B4%D8%AE%D9%88%D8%A7%D9%86_%D9%87%D9%86%D8%AF%D8%B3%D9%87_%D9%85%D8%B3%D8%B7%D8%AD%D9%87"> هندسه‌ی مسطحه، از مقدمات تا المپیاد </a>
                                            <br>سیامک احمدپور، مصطفی مسگری
                                            <br> انتشارات خوشخوان
                                        </h5>

                                    </li>
                                    <br>
                                    <li>
                                        <h5 dir="rtl"><i class="book icon"></i> استراتژی‌های حل مسایل هندسه
                                            <br>مرتضی عدل، محمد احمدی
                                            <br> انتشارات دانش‌پژوهان جوان
                                        </h5>

                                    </li>
                                    <br>
                                    <li>
                                        <h5 dir="rtl"><i class="book icon"></i>  هندسه
                                            <br>جاوید ولیدشتی
                                            <br> انتشارات فاطمی
                                        </h5>

                                    </li>

                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}


    <div class="ui inverted segment" style="background-color: black; padding-left: 15%; padding-right: 15%; margin: 0px; padding-bottom: 8vh">
        <div class="ui three column stackable grid">
            {% for img in slideshow %}
                <div class="ui center aligend column faded_class" style="padding-bottom: 0px">
                    <div style="display: flex; justify-content: center">
                        <a href={{ img.link }}>
                        <div class="ui image">
                            <img src="{{ img.image.image.url }}" style="height: 190px">
                            <div class="ui center aligned inverted black bottom attached small label" style="text-align: center">
                                {% if LANGUAGE_CODE == "fa" %}
                                    {{ img.image.persian_caption }}
                                {% else %}
                                    {{ img.image.english_caption }}
                                {% endif %}
                            </div>
                        </div>
                        </a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    <div class="ui inverted vertical stripe quote segment">
        <div class="ui equal width stackable internally grid">
            <div class="center aligned row">

                <div class="column" style="max-height: 100%">
                    <h3 class="faded_class">{% trans 'Organizer' %}</h3>
                    <p>
                        <img
                            class="ui avatar medium image"
                            src="{{ organizer.image.url }}"
                            style="margin-bottom: 2vh; margin-top: 5vh; height: 250px; width: auto"
                        />
                        <br>
                        {% if LANGUAGE_CODE == 'fa' %}
                            {{ organizer.persian_name }}
                        {% else %}
                            {{ organizer.english_name }}
                        {% endif %}
                    </p>
                </div>
                <div class="column" style="max-height: 100%; {% if LANGUAGE_CODE == "en" %} display: none !important {% endif %}">
                    {% if LANGUAGE_CODE == "fa" %}
                        <h3 class="faded_class">{% trans 'Sponsor' %}</h3>
                    {% else %}
                        <h3 class="faded_class">National Sponsor</h3>
                    {% endif %}
                    <p>

                        <img
                            class="ui avatar medium image"
                            src="{{ sponsor.image.url }}"
                            style="margin-bottom: 2vh; margin-top: 5vh; height: 250px; width: auto"
                        />
                        <br>
                        {% if LANGUAGE_CODE == 'fa' %}
                            {{ sponsor.persian_name }}
                        {% else %}
                            {{ sponsor.english_name }}
                        {% endif %}
                    </p>
                </div>


            </div>
        </div>
    </div>

{% endblock %}

