.modal {
    background:rgba(0, 0, 0, 0.85);
    display: none;
    height: 100vh;
    width: 100vw;
    position: fixed;
    text-align: center;
    top: 0;
    left: 0;
    z-index: 999;

    padding: 2em;
}

.modal-image {
    height: 100%;
    width: auto;
}

@media only screen and (max-width: 700px) {
    .modal-image {
        height: auto;
        width: 100%;
    }
}

.modal-caption {
    width: 100%;
}

.open-modal {
    cursor: pointer;
}

.tool {
    cursor: pointer;
    position: fixed;
    display: flex; 
    justify-content: center; 
    align-items: center; 
    width: 2em;
    height: 2em;
    padding: 0.5em; 
    margin: 0.5em;
    border-radius: 2em; 
    background: #1b1c1d !important;
} 

.iii {
    margin: 0 !important;
}

