{% extends 'base/base.html' %}
{% load static i18n %}
{% get_current_language_bidi as LANGUAGE_BIDI %}
{% get_current_language as LANGUAGE_CODE %}
{% block extra_header %}
<link href="{% static 'intro/slideshow.css' %}" rel="stylesheet"/>
<style>
        .myMenu > a {
            background-color: #222222dd !important;
        }

        .mobile_menu :hover {
            background-color: rgba(0, 0, 0, 0);
        }

</style>
{% endblock %}
{% block content %}
<div class="ui inverted vertical masthead center aligned segment"
     id="topper"
     style="
                 min-height:100vh;background-image: url({% static 'intro/images/bg.png' %}); background-size: cover;background-attachment: fixed; background-repeat: no-repeat; background-position: center;">
    <div class="ui container">
        {% block navbar %}
        {% include 'base/main_navbar.html' %}
        {% endblock %}
        {% if LANGUAGE_CODE == 'en' %}
        <div class="ui stackable grid">
            <div class="four wide column mobile-only">
                <div class="ui inverted pointing fluid stackable menu myMenu"
                     style="border: 0; color: darkred;">
                    {% for item in prev_ages %}
                    {% if active.id == item.id %}
                    <a class="active item" href="/content/{{ item.id }}">
                        {{ item.english_name }}
                    </a>
                    {% else %}
                    <a class="active item" href="/content/{{ item.id }}">
                        {{ item.english_name }}
                    </a>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
            <div class="four wide column mobile-hidden">
                <div class="ui inverted vertical fluid  menu myMenu ">
                    {% for item in prev_ages %}
                    {% if active.id == item.id %}
                    <a class="active item" href="/content/{{ item.id }}" style="font-weight: bolder">
                        <span style="color:lightseagreen "> {{ item.english_name }}</span>
                    </a>
                    {% else %}
                    <a class="active item" href="/content/{{ item.id }}">
                        {{ item.english_name }}
                    </a>
                    {% endif %}
                    {% endfor %}
                </div>
                <img src="{{ active.poster.url }}" style="width: 100% ;">
            </div>


            <div class="twelve wide stretched column" style="">
                <div class="ui inverted segment" style="background-color: #222222dd ;margin: 0">
                    <div align="left"><h1 class="ui inverted header">{{ active.english_name }}</h1>

                        <p> {{ active.english_content|safe }}</p></div>
                    <div class="ui stackable grid">
                        {% for file in active.files %}
                        <div class="ui centered two wide coloumn" style="
                                            padding: 20px;


                                            ">
                            <a class="ui link download-hover " data-inverted="" data-position="left center"
                               href="{{ file.file.url }}"
                               href="#" id="change_lang"
                               onclick="$('#{{ file.id }}downloader').submit();" style="color: black"
                               style="margin-left: 15px; margin-right: 15px" target="_blank">
                                <i class="inverted teal download huge icon" style="margin: 10px;"></i>
                            </a>
                            <br>
                            <p align="center"> {{ file.file.name }}</p>

                            <form action="/content/download/" id="{{ file.id }}downloader" method="POST"
                                  name="downloader">
                                {% csrf_token %}
                                <input name="file_path" type="hidden" value="{{ file.file.url }}"/>
                                <input name="original_file_name" type="hidden"
                                       value="{{ file.file.name }}"/>
                            </form>
                        </div>
                        {% endfor %}
                    </div>
                    <div class="ui stackable grid" style="">
                        <div class="ui medium images" style="margin: 5%">
                            {% for image in active.images %}

                            <img class="ui image" src="{{ image.image.url }}">

                            {% endfor %}
                        </div>

                    </div>

                </div>
            </div>
        </div>
        {% else %}
        <div class="ui stackable grid">
            <div class="four wide column mobile-only">
                <div class="ui inverted pointing fluid stackable menu myMenu"
                     style="border: 0; color: darkred;">
                    {% for item in prev_ages %}
                    {% if active.id == item.id %}
                    <a class="active item" href="/content/{{ item.id }}">
                        {{ item.persian_name }}
                    </a>
                    {% else %}
                    <a class="active item" href="/content/{{ item.id }}">
                        {{ item.persian_name }}
                    </a>
                    {% endif %}
                    {% endfor %}

                </div>
            </div>
            <div class="twelve wide  stretched column">
                <div class="ui inverted segment" style="background-color:#222222dd ">
                    <div align="right"><h1 class="ui inverted header">{{ active.persian_name }}</h1>
                        <p>
                            {{ active.persian_content|safe }}
                        </p></div>
                    <div class="ui stackable grid" dir="rtl">
                        {% for file in active.files %}
                        <div class="ui centered  two wide coloumn" style="
                                           padding: 20px;

                                            ">
                            <a class="ui link download-hover " data-inverted="" data-position="left center"
                               href="{{ file.url }}"
                               href="#" id="change_lang"
                               onclick="$('#{{ file.id }}downloader').submit();" style="color: black"
                               style="margin-left: 15px; margin-right: 15px" target="_blank">
                                <i class="inverted teal download huge icon" style="margin: 10px;"></i>
                            </a>
                            <br>
                            <p align="center"> {{ file.file.name }}</p>

                            <form action="/content/download/" id="{{ file.id }}downloader" method="POST"
                                  name="downloader">
                                {% csrf_token %}
                                <input name="file_path" type="hidden" value="{{ file.file.url }}"/>
                                <input name="original_file_name" type="hidden"
                                       value="{{ file.file.name }}"/>
                            </form>
                        </div>
                        {% endfor %}
                    </div>
                    <div class="ui stackable grid" style="">
                        <div class="ui medium images" style="margin: 5%">
                            {% for image in active.images %}

                            <img class="ui image" src="{{ image.image.url }}">

                            {% endfor %}
                        </div>

                    </div>

                </div>
            </div>
            <div class="four wide column mobile-hidden">
                <div class="ui inverted vertical fluid right  menu myMenu">
                    {% for item in prev_ages %}
                    {% if active.id == item.id %}
                    <a class="active item" href="/content/{{ item.id }}" style="font-weight: bolder">
                        <span style="color:lightseagreen "> {{ item.persian_name }}</span>
                    </a>
                    {% else %}
                    <a class="active item" href="/content/{{ item.id }}">
                        {{ item.persian_name }}
                    </a>
                    {% endif %}
                    {% endfor %}
                </div>
                <img src="{{ active.poster.url }}" style="width: 100% ;">
            </div>

        </div>
        {% endif %}

    </div>

</div>


{% block extra_script %}
<script>
            $(document).ready(function () {
                $(document).on('click', '.myMenu .item', function (e) {
                    $('.myMenu .item').removeClass('active');
                    $(this).addClass('active');
                    $(this).style.backgroundColor = "black";
                });
            });

</script>
<script>
            $('.myMenu .item').tab();
</script>
{% endblock %}
{% endblock %}