{% extends 'base/base.html' %}
{% load static i18n %}
{% get_current_language_bidi as LANGUAGE_BIDI %}
{% get_current_language as LANGUAGE_CODE %}
{% block extra_header %}
    <link rel="stylesheet" href="{% static 'intro/slideshow.css' %}"/>
    <style>
        .myMenu > a {
            background-color: #1f292e !important;
        }

        .mobile_menu :hover {
            background-color: rgba(0, 0, 0, 0);
        }
    </style>
{% endblock %}
{% block content %}
    <div class="ui inverted vertical masthead center aligned segment"
         style="width: 100vw; height: 100vh;
                 background-image: url({% static 'intro/images/bg.png' %}); background-size: cover; background-repeat: no-repeat; background-position: center;"
         id="topper">
        <div class="ui container">
            {% block navbar %}
                {% include 'base/main_navbar.html' %}
            {% endblock %}
            {% if LANGUAGE_BIDI %}
                <div class="ui stackable grid">
                    <div class="four wide column mobile-only">
                        <div class="ui inverted pointing fluid stackable menu myMenu"
                             style="border: 0; color: darkred;">
                            {% for item in prev_ages %}
                                <a class="item" onclick="$('#age_form').submit();" href="#">
                                    {{ item.name }}
                                    <form id="age_form" name="change_active" action="{{ request.path }}" method="POST">
                                        {% csrf_token %}
                                        <input name="id" type="hidden" value="    "/>
                                    </form>
                                </a>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="four wide column mobile-hidden">
                        <div class="ui inverted vertical fluid tabular menu myMenu ">
                            {% for item in prev_ages %}
                                <a class="item" onclick="$('#age_form').submit();" href="#">
                                    {{ item.name }}
                                    <form id="age_form" name="change_active" action="{{ request.path }}" method="POST">
                                        {% csrf_token %}
                                        <input name="id" type="hidden" value="    "/>
                                    </form>
                                </a>
                            {% endfor %}
                        </div>
                    </div>


                    <div class="twelve wide centered stretched column">
                        <div class="ui inverted segment" style="background-color: #1f292e">
                            This is an stretched grid column. This segment will always match the tab height
                        </div>
                    </div>
                </div>
            {% else %}
                <div class="ui stackable grid">
                    <div class="four wide column mobile-only">
                        <div class="ui inverted pointing fluid stackable menu myMenu"
                             style="border: 0; color: darkred;">
                            <a class="item mobile_menu">
                                Bio
                            </a>
                            <a class="item">
                                Pics
                            </a>
                            <a class="item">
                                Companies
                            </a>
                            <a class="item">
                                Links
                            </a>
                        </div>
                    </div>
                    <div class="twelve wide centered stretched column">
                        <div class="ui inverted segment" style="background-color: #1f292e">
                            This is an stretched grid column. This segment will always match the tab height
                        </div>
                    </div>
                    <div class="four wide column mobile-hidden">
                        <div class="ui inverted vertical fluid right  tabular  menu myMenu">
                            <a class="active item">
                                Bio
                            </a>
                            <a class="item">
                                Pics
                            </a>
                            <a class="item">
                                Companies
                            </a>
                            <a class="item">
                                Links
                            </a>
                        </div>
                    </div>
                    <div class="four wide column mobile-only">
                        <div class="ui secondary pointing fluid stackable menu myMenu">
                            <a class="active item">
                                Bio
                            </a>
                            <a class="item">
                                Pics
                            </a>
                            <a class="item">
                                Companies
                            </a>
                            <a class="item">
                                Links
                            </a>
                        </div>
                    </div>
                </div>
            {% endif %}

        </div>

    </div>

    {#    todo check kon k active != ''#}
    {% for file in active.files %}
        <div style="
                            width: 50%;
                            height: 100%;
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;
                            border-left:1px solid #d4d4d5;
                            font-family: IRANSans
                            ">
            <a href="{{ file.url }}" target="_blank" class="ui link download-hover " style="color: black"
               onclick="$('#downloader').submit();" href="#"
               data-position="left center" data-inverted=""
               style="margin-left: 15px; margin-right: 15px" id="change_lang">
                <i class="download icon huge"></i>
            </a>
            {{ file.name }}
            <form name="downloader" id="downloader" action="/content/download/" method="POST">
                {% csrf_token %}
                <input name="file_path" type="hidden" value="{{ file.url }}"/>
                <input type="hidden" name="original_file_name"
                       value="{{ file.name }}"/>
            </form>
        </div>
    {% endfor %}


    {#    form baray taghir dadn active, value ro meghdar bede#}
    <form nam="change_active" action="{{ request.path }}" method="POST">
        {% csrf_token %}
        <input name="id" type="hidden" value="    "/>
    </form>


    <br>
    <img src="{{ active.poster.url }}">
    <p>{{  active.persian_content | safe }}</p>
    <p>{{ active.english_content | safe }}</p>




    {% block extra_script %}
        <script>
            $(document).ready(function () {
                $(document).on('click', '.myMenu .item', function (e) {
                    $('.myMenu .item').removeClass('active');
                    $(this).addClass('active');
                    $(this).style.backgroundColor = "black";
                });
            });
        </script>
        <script>
            $('.myMenu .item').tab();</script>
    {% endblock %}
{% endblock %}