{% extends 'base/base.html' %}
{% load static i18n %}
{% get_current_language_bidi as LANGUAGE_BIDI %}
{% get_current_language as LANGUAGE_CODE %}
{% block extra_header %}
    <link rel="stylesheet" href="{% static 'intro/slideshow.css' %}"/>
    <style>
        .myMenu > a {
            background-color: #1f292e !important;
        }

        .mobile_menu :hover {
            background-color: rgba(0, 0, 0, 0);
        }
    </style>
{% endblock %}
{% block content %}
    <div class="ui inverted vertical masthead center aligned segment"
         style="min-height: 100vh;
                 background-image: url({% static 'intro/images/bg.png' %}); background-size: cover; background-repeat: no-repeat; background-position: center;"
         id="topper">
        <div class="ui container">
            {% block navbar %}
                {% include 'base/main_navbar.html' %}
            {% endblock %}
            {% if LANGUAGE_CODE == 'en' %}
                <div class="ui stackable grid">
                    <div class="four wide column mobile-only">
                        <div class="ui inverted pointing fluid stackable menu myMenu"
                             style="border: 0; color: darkred;">
                            {% for item in categories %}
                                {% if item.language == "en" %}
                                    {% if active.id == item.id %}
                                        <a class="active item" onclick="$('#{{ item.id }}').submit();" href="#">
                                            {{ item.name }}
                                            <form id="{{ item.id }}" name="change_active" action="{{ request.path }}"
                                                  method="POST">
                                                {% csrf_token %}
                                                <input name="id" type="hidden" value="{{ item.id }}"/>
                                            </form>
                                        </a>
                                    {% else %}

                                        <a class="item" onclick="$('#{{ item.id }}').submit();" href="#">
                                            {{ item.name }}
                                            <form id="{{ item.id }}" name="change_active" action="{{ request.path }}"
                                                  method="POST">
                                                {% csrf_token %}
                                                <input name="id" type="hidden" value="{{ item.id }}"/>
                                            </form>
                                        </a>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                    <div class="four wide column mobile-hidden">
                        <div class="ui inverted vertical fluid tabular menu myMenu ">
                            {% for item in categories %}
                                {% if item.language == "en" %}
                                    {% if active.id == item.id %}
                                        <a class="active item" onclick="$('{{ item.id }}').submit();" href="#">
                                            {{ item.name }}
                                            <form id="{{ item.id }}" name="change_active" action="{{ request.path }}"
                                                  method="POST">
                                                {% csrf_token %}
                                                <input name="id" type="hidden" value="{{ item.id }}"/>
                                            </form>
                                        </a>
                                    {% else %}

                                        <a class="item" onclick="$('{{ item.id }}').submit();" href="#">
                                            {{ item.name }}
                                            <form id="{{ item.id }}" name="change_active" action="{{ request.path }}"
                                                  method="POST">
                                                {% csrf_token %}
                                                <input name="id" type="hidden" value="{{ item.id }}"/>
                                            </form>
                                        </a>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>


                    <div class="twelve wide centered stretched column">
                        <div class="ui segment" style="background-color:  #222222dd ;" align="left">
                            <div class="ui stackable grid" style="">
                                {% for article in articles %}
                                    <div class="three wide coloumn">
                                        <div class="ui inverted card" style="margin: 5%">
                                            <div class="image">
                                                {% if article.file.image %}
                                                    <img src="{{ article.file.image.url }}">
                                                {% else %}
                                                    <img src="{% static 'intro/geo.png' %}">
                                                {% endif %}                                            </div>
                                            <div class="center aligned content" style="background-color: #222222;">
                                                <a class="header" style="color: white">{{ article.file.name }}</a>
                                            </div>
                                            <div class="center aligned extra content" style="background-color: #222222;">
                                                <a href="{{ article.file.file.url }}" target="_blank"
                                                   class="ui link download-hover "
                                                   style="color: black"
                                                   onclick="$('#{{ article.file.id }}downloader').submit();" href="#"
                                                   data-position="left center" data-inverted=""
                                                   style="margin-left: 15px; margin-right: 15px" id="change_lang">
                                                    <i class="inverted  download big icon"
                                                       style="margin: 10px;"></i>
                                                </a>


                                                <form name="downloader" id="{{ article.file.id }}downloader"
                                                      action="/content/download/"
                                                      method="POST">
                                                    {% csrf_token %}
                                                    <input name="file_path" type="hidden"
                                                           value="{{ article.file.file.url }}"/>
                                                    <input type="hidden" name="original_file_name"
                                                           value="{{ article.file.file.name }}"/>
                                                </form>
                                                {#                                                todo download#}
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>

                        </div>

                    </div>
                </div>
                </div>
            {% else %}
                <div class="ui stackable grid">
                    <div class="four wide column mobile-only">
                        <div class="ui inverted pointing fluid stackable menu myMenu"
                             style="border: 0; color: darkred;">
                            {% for item in categories %}
                                {% if  item.language == "fa" %}
                                    {% if active.id == item.id %}
                                        <a class="active item" onclick="$('#{{ item.id }}').submit();" href="#">
                                            {{ item.name }}
                                            <form id="{{ item.id }}" name="change_active" action="{{ request.path }}"
                                                  method="POST">
                                                {% csrf_token %}
                                                <input name="id" type="hidden" value="{{ item.id }}"/>
                                            </form>
                                        </a>
                                    {% else %}

                                        <a class="item" onclick="$('#{{ item.id }}').submit();" href="#">
                                            {{ item.name }}
                                            <form id="{{ item.id }}" name="change_active" action="{{ request.path }}"
                                                  method="POST">
                                                {% csrf_token %}
                                                <input name="id" type="hidden" value="{{ item.id }}"/>
                                            </form>
                                        </a>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}

                        </div>
                    </div>
                    <div class="twelve wide center aligned stretched column">
                        <div class="ui inverted segment" style="background-color: #222222dd;" dir="rtl" align="right">
                            <div class="ui stackable grid">
                                {% for article in articles %}
                                    <div class="three wide coloumn">
                                        <div class="ui inverted card" style="margin:5%">
                                            <div class="image">

                                                {% if  article.file.image %}
                                                    <img src="{{ article.file.image.url }}">
                                                {% else %}
                                                    <img src="{% static 'intro/geo.png' %}">
                                                {% endif %}
                                            </div>
                                            <div class="center aligned content" style="background-color: #222222;">
                                                <a class="header" style="color: white">{{ article.file.name }}</a>
                                            </div>
                                            <div class="center aligned extra content" style="background-color: #222222">
                                                <a href="{{ article.file.file.url }}" target="_blank"
                                                   class="ui link download-hover "
                                                   style="color: black"
                                                   onclick="$('#{{ article.file.id }}downloader').submit();" href="#"
                                                   data-position="left center" data-inverted=""
                                                   style="margin-left: 15px; margin-right: 15px" id="change_lang">
                                                    <i class="inverted download big icon"
                                                       style="margin: 10px;"></i>
                                                </a>


                                                <form name="downloader" id="{{ article.file.id }}downloader"
                                                      action="/content/download/"
                                                      method="POST">
                                                    {% csrf_token %}
                                                    <input name="file_path" type="hidden"
                                                           value="{{ article.file.file.url }}"/>
                                                    <input type="hidden" name="original_file_name"
                                                           value="{{ article.file.file.name }}"/>
                                                </form>
                                                {#                                                todo download#}
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>

                        </div>
                    </div>
                    <div class="four wide column mobile-hidden">
                        <div class="ui inverted vertical fluid right  tabular  menu myMenu">
                            {% for item in categories %}
                                {% if item.language == "fa" %}
                                    {% if active.id == item.id %}
                                        <a class="active item" onclick="$('#{{ item.id }}').submit();" href="#">
                                            {{ item.name }}
                                            <form id="{{ item.id }}" name="change_active" action="{{ request.path }}"
                                                  method="POST">
                                                {% csrf_token %}
                                                <input name="id" type="hidden" value="{{ item.id }}"/>
                                            </form>
                                        </a>
                                    {% else %}

                                        <a class="item" onclick="$('#{{ item.id }}').submit();" href="#">
                                            {{ item.name }}
                                            <form id="{{ item.id }}" name="change_active" action="{{ request.path }}"
                                                  method="POST">
                                                {% csrf_token %}
                                                <input name="id" type="hidden" value="{{ item.id }}"/>
                                            </form>
                                        </a>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        </div>

                    </div>

                </div>
            {% endif %}

    </div>

    </div>

    {#    {% for file in active.files %}#}
    {#        <div style="#}
    {#                            width: 50%;#}
    {#                            height: 100%;#}
    {#                            display: flex;#}
    {#                            flex-direction: column;#}
    {#                            justify-content: center;#}
    {#                            align-items: center;#}
    {#                            border-left:1px solid #d4d4d5;#}
    {#                            font-family: IRANSans#}
    {#                            ">#}
    {#            <a href="{{ file.url }}" target="_blank" class="ui link download-hover " style="color: black"#}
    {#               onclick="$('#downloader').submit();" href="#"#}
    {#               data-position="left center" data-inverted=""#}
    {#               style="margin-left: 15px; margin-right: 15px" id="change_lang">#}
    {#                <i class="download icon huge"></i>#}
    {#            </a>#}
    {#            {{ file.name }}#}
    {#            <form name="downloader" id="downloader" action="/content/download/" method="POST">#}
    {#                {% csrf_token %}#}
    {#                <input name="file_path" type="hidden" value="{{ file.url }}"/>#}
    {#                <input type="hidden" name="original_file_name"#}
    {#                       value="{{ file.name }}"/>#}
    {#            </form>#}
    {#        </div>#}
    {#    {% endfor %}#}


    {#    form baray taghir dadn active, value ro meghdar bede#}
    {#    <form nam="change_active" action="{{ request.path }}" method="POST">#}
    {#        {% csrf_token %}#}
    {#        <input name="id" type="hidden" value="    "/>#}
    {#    </form>#}
    {##}
    {##}
    {#    <br>#}
    {#    <img src="{{ active.poster.url }}">#}
    {#    <p>{{ active.persian_content | safe }}</p>#}
    {#    <p>{{ active.english_content | safe }}</p>#}
    {##}



    {% block extra_script %}
        <script>
            $(document).ready(function () {
                $(document).on('click', '.myMenu .item', function (e) {
                    $('.myMenu .item').removeClass('active');
                    $(this).addClass('active');
                    $(this).style.backgroundColor = "black";
                });
            });
        </script>
        <script>
            $('.myMenu .item').tab();</script>
    {% endblock %}
{% endblock %}