{% extends 'base/base.html' %}
{% load static i18n %}
{% load template_filters %}
{% get_current_language_bidi as LANGUAGE_BIDI %}
{% get_current_language as LANGUAGE_CODE %}
{% block extra_header %}
    <link rel="stylesheet" href="{% static 'intro/slideshow.css' %}"/>
    <style>
        .myMenu > a {
            background-color: #222222dd !important;
        }

        .mobile_menu :hover {
            background-color: rgba(0, 0, 0, 0);
        }
    </style>
{% endblock %}
{% block content %}
    <div class="ui inverted vertical masthead center aligned segment"
         style="min-height: 100vh;
                 background-image: url({% static 'intro/images/bg.png' %}); background-size: cover; background-repeat: no-repeat; background-position: center; background-attachment: fixed"
         id="topper">
        <div class="ui container" style="min-height: 100vh;">
            {% block navbar %}
                {% include 'base/main_navbar.html' %}
            {% endblock %}
            {% if LANGUAGE_CODE == 'en' %}
                <div class="ui stackable grid">
                    <div class="four wide column mobile-only">
                        <div class="ui inverted pointing fluid stackable menu myMenu"
                             style="border: 0; color: darkred;">
                            {% for item in events %}

                                {% if active.id == item.id %}
                                    <a class="active item" href="/staff/{{ item.id }}">
                                        {{ item.english_name }}
                                    </a>
                                {% else %}
                                    <a class="active item" href="/staff/{{ item.id }}">
                                        {{ item.english_name }}
                                    </a>
                                {% endif %}

                            {% endfor %}
                        </div>
                    </div>
                    <div class="four wide column mobile-hidden">
                        <div class="ui inverted vertical fluid  menu myMenu ">
                            {% for item in events %}

                                {% if active.id == item.id %}
                                    <a class="active item" href="/staff/{{ item.id }}">
                                        <span style="color:lightseagreen "> {{ item.english_name }}</span>
                                    </a>
                                {% else %}
                                    <a class="active item" href="/staff/{{ item.id }}">
                                        {{ item.english_name }}
                                    </a>
                                {% endif %}

                            {% endfor %}
                        </div>
                    </div>


                    <div class="twelve wide centered stretched column">
                        <div class="ui inverted segment" style="background-color: #222222dd ;padding-left: auto; padding-right: auto"
                             align="center">

                            {% for team in teams %}
                                <div class="ui center aligned dividing header" style="margin: 0; padding: 0;">
                                    {{ team.t.english_name }}
                                </div>
                                <hr style="color: white; margin-bottom: 6vh">
                                <div class="ui stackable grid" style="margin-bottom: 5vh">

                                    {% for s in team.heads_english_sorted %}
                                        {% if forloop.counter0|modulo:4 == 0 %}
                                            <div class="ui center aligend relaxed row" style="justify-content: center">
                                        {% endif %}
                                        <div class="ui fluid column" style="display: flex; flex-direction: column; width: 25%">
                                            <div class="ui tiny circular image">
                                                <img src="{{ s.image.url }}">
                                            </div> 
                                            <div class="ui black label" style="max-width: 100%; margin-top: 1vh">
                                                {% if LANGUAGE_CODE == "fa" %}
                                                    {{ s.persian_name }}
                                                {% else %}
                                                    {{ s.english_name }}
                                                {% endif %}
                                            </div>
                                            <div class="ui label grey" style="max-width: 100%">
                                                    {% if LANGUAGE_CODE == "fa" %}
                                                        {{ s.role.persian_name }}
                                                    {% else %}
                                                        {{ s.role.english_name }}
                                                    {% endif %}
                                            
                                            </div>
                                        </div>                            
                                        {% if forloop.counter0|modulo:4 == 3 %}
                                            </div>
                                        {% elif forloop.counter1 == team.heads|len %}
                                            </div>
                                        {% endif %}
                                    {% endfor %}

                                </div>
                                <div class="ui stackable grid" style="margin-bottom: 5vh; margin-top: 5vh">

                                    {% for s in team.staff_english_sorted %}
                                        {% if forloop.counter0|modulo:4 == 0 %}
                                            <div class="ui center aligend relaxed row" style="justify-content: center">
                                        {% endif %}
                                        <div class="ui fluid column" style="display: flex; flex-direction: column; width: 25%">
                                            <div class="ui tiny circular image">
                                                <img src="{{ s.image.url }}">
                                            </div> 
                                            <div class="ui black label" style="max-width: 100%; margin-top: 1vh">
                                                {% if LANGUAGE_CODE == "fa" %}
                                                    {{ s.persian_name }}
                                                {% else %}
                                                    {{ s.english_name }}
                                                {% endif %}
                                            </div>
                                        </div>                            
                                        {% if forloop.counter0|modulo:4 == 3 %}
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                    </div>
                                </div>
                            {% endfor %}
                        </div>

                    </div>
                </div>
                </div>
            {% else %}
                <div class="ui stackable grid" dir="ltr">
                    <div class="four wide column mobile-only">
                        <div class="ui inverted pointing fluid stackable menu myMenu"
                             style="border: 0; ">
                            {% for item in events %}

                                {% if active.id == item.id %}
                                    <a class="active item" href="/staff/{{ item.id }}">
                                        {{ item.persian_name }}
                                    </a>
                                {% else %}

                                    <a class="active item" href="/staff/{{ item.id }}">
                                        {{ item.persian_name }}

                                    </a>
                                {% endif %}

                            {% endfor %}

                        </div>
                    </div>
                    <div class="twelve wide center aligned stretched column" style="padding-right: auto;padding-left: auto" align="center">
                        <div class="ui inverted segment" style="background-color: #222222dd;padding-right: auto;padding-left: auto"
                             dir="rtl" align="center">

                            {% for team in teams %}
                                <div class="ui center aligned dividing header"; style="margin: 0; padding: 0">
                                    {{ team.t.persian_name }}
                                </div>
                                <hr style="color: white; margin-bottom: 6vh">
                                <div class="ui stackable grid" style="margin-bottom: 5vh">


                                    {% for s in team.heads_persian_sorted %}
                                        {% if forloop.counter0|modulo:4 == 0 %}
                                            <div class="ui center aligend relaxed row" style="justify-content: center">
                                        {% endif %}
                                        <div class="ui fluid column" style="display: flex; flex-direction: column; width: 25%">
                                            <div class="ui tiny circular image">
                                                <img src="{{ s.image.url }}">
                                            </div> 
                                            <div class="ui black label" style="max-width: 100%; margin-top: 1vh">
                                                {% if LANGUAGE_CODE == "fa" %}
                                                    {{ s.persian_name }}
                                                {% else %}
                                                    {{ s.english_name }}
                                                {% endif %}
                                            </div>
                                            <div class="ui label grey" style="max-width: 100%">
                                                    {% if LANGUAGE_CODE == "fa" %}
                                                        {{ s.role.persian_name }}
                                                    {% else %}
                                                        {{ s.role.english_name }}
                                                    {% endif %}
                                            
                                            </div>
                                        </div>                            
                                        {% if forloop.counter0|modulo:4 == 3 %}
                                            </div>
                                        {% elif forloop.counter1 == team.heads|len %}
                                            </div>
                                        {% endif %}
                                    {% endfor %}

                                </div>
                                <div class="ui stackbale grid" style="margin-bottom: 5vh; margin-top: 5vh">

                                    {% for s in team.staff_persian_sorted %}
                                        {% if forloop.counter0|modulo:4 == 0 %}
                                            <div class="ui center aligend relaxed row" style="justify-content: center">
                                        {% endif %}
                                        <div class="ui fluid column" style="display: flex; flex-direction: column; width: 25%">
                                            <div class="ui tiny circular image">
                                                <img src="{{ s.image.url }}">
                                            </div> 
                                            <div class="ui black label" style="max-width: 100%; margin-top: 1vh">
                                                {% if LANGUAGE_CODE == "fa" %}
                                                    {{ s.persian_name }}
                                                {% else %}
                                                    {{ s.english_name }}
                                                {% endif %}
                                            </div>
                                        </div>                            
                                        {% if forloop.counter0|modulo:4 == 3 %}
                                            </div>
                                        {% elif forloop.counter1 == team.staff|len %}
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                    </div>
                                </div>
                            {% endfor %}

                        </div>
                    </div>
                    <div class="four wide column mobile-hidden">
                        <div class="ui inverted vertical fluid right  menu myMenu">
                            {% for item in events %}

                                {% if active.id == item.id %}
                                    <a class="active item" href="/staff/{{ item.id }}">
                                        <span style="color:lightseagreen "> {{ item.persian_name }}</span>
                                    </a>
                                {% else %}
                                    <a class="active item" href="/staff/{{ item.id }}">
                                        {{ item.persian_name }}
                                    </a>
                                {% endif %}

                            {% endfor %}
                        </div>

                    </div>

                </div>
    {% endif %}



    </div>




    {% block extra_script %}
        <script>
            $(document).ready(function () {
                $(document).on('click', '.myMenu .item', function (e) {
                    $('.myMenu .item').removeClass('active');
                    $(this).addClass('active');
                    $(this).style.backgroundColor = "black";
                });
            });
        </script>
        <script>
            $('.myMenu .item').tab();</script>
    {% endblock %}
{% endblock %}
