{% extends 'base/base.html' %}
{% load static i18n %}
{% get_current_language_bidi as LANGUAGE_BIDI %}
{% get_current_language as LANGUAGE_CODE %}
{% block extra_header %}
    <link rel="stylesheet" href="{% static 'intro/slideshow.css' %}"/>
    <style>
        .myMenu > a {
            background-color: #222222dd !important;
        }

        .mobile_menu :hover {
            background-color: rgba(0, 0, 0, 0);
        }
    </style>
{% endblock %}
{% block content %}
    <div class="ui inverted vertical masthead center aligned segment"
         style="min-height: 100vh;
                 background-image: url({% static 'intro/images/bg.png' %}); background-size: cover; background-repeat: no-repeat; background-position: center; background-attachment: fixed"
         id="topper">
        <div class="ui container" style="min-height: 100vh;">
            {% block navbar %}
                {% include 'base/main_navbar.html' %}
            {% endblock %}
            {% if LANGUAGE_CODE == 'en' %}
                <div class="ui stackable grid">
                    <div class="four wide column mobile-only">
                        <div class="ui inverted pointing fluid stackable menu myMenu"
                             style="border: 0; color: darkred;">
                            {% for item in events %}

                                {% if active.id == item.id %}
                                    <a class="active item" href="/staff/{{ item.id }}">
                                        {{ item.english_name }}
                                    </a>
                                {% else %}
                                    <a class="active item" href="/staff/{{ item.id }}">
                                        {{ item.english_name }}
                                    </a>
                                {% endif %}

                            {% endfor %}
                        </div>
                    </div>
                    <div class="four wide column mobile-hidden">
                        <div class="ui inverted vertical fluid  menu myMenu ">
                            {% for item in events %}

                                {% if active.id == item.id %}
                                    <a class="active item" href="/staff/{{ item.id }}">
                                        <span style="color:lightseagreen "> {{ item.english_name }}</span>
                                    </a>
                                {% else %}
                                    <a class="active item" href="/staff/{{ item.id }}">
                                        {{ item.english_name }}
                                    </a>
                                {% endif %}

                            {% endfor %}
                        </div>
                    </div>


                    <div class="twelve wide centered stretched column">
                        <div class="ui inverted segment" style="background-color: #222222dd ;padding-left: auto; padding-right: auto"
                             align="center">
                            <div class="ui inverted horizontal list">
                                {% for person in active.staff %}
                                    <div class="item">
                                        <img class="ui tiny circular image" src="{{ person.image.url }}">
                                        <div class="inverted content" align="left">
                                            <div class="ui sub header">&nbsp;&nbsp;{{ person.english_name }}</div>
                                           &nbsp;&nbsp; {{ person.role.english_name }}
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>

                        </div>

                    </div>
                </div>
                </div>
            {% else %}
                <div class="ui stackable grid" dir="ltr">
                    <div class="four wide column mobile-only">
                        <div class="ui inverted pointing fluid stackable menu myMenu"
                             style="border: 0; ">
                            {% for item in events %}

                                {% if active.id == item.id %}
                                    <a class="active item" href="/staff/{{ item.id }}">
                                        {{ item.persian_name }}
                                    </a>
                                {% else %}

                                    <a class="active item" href="/staff/{{ item.id }}">
                                        {{ item.persian_name }}

                                    </a>
                                {% endif %}

                            {% endfor %}

                        </div>
                    </div>
                    <div class="twelve wide center aligned stretched column" style="padding-right: auto;padding-left: auto" align="center">
                        <div class="ui inverted segment" style="background-color: #222222dd;padding-right: auto;padding-left: auto"
                             dir="rtl" align="center">
                            <div class="ui inverted  horizontal list" style="padding-right: auto;padding-left: auto">
                                {% for person in active.staff %}
                                    <div class="item">
                                        <img class="ui tiny circular image" src="{{ person.image.url }}">
                                        <div class="inverted content" align="right">
                                            <div class="ui sub header">&nbsp;&nbsp;{{ person.persian_name }}</div>
                                          &nbsp;&nbsp;   {{ person.role.persian_name }}
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>



                        </div>
                    </div>
                    <div class="four wide column mobile-hidden">
                        <div class="ui inverted vertical fluid right  menu myMenu">
                            {% for item in events %}

                                {% if active.id == item.id %}
                                    <a class="active item" href="/staff/{{ item.id }}">
                                        <span style="color:lightseagreen "> {{ item.persian_name }}</span>
                                    </a>
                                {% else %}
                                    <a class="active item" href="/staff/{{ item.id }}">
                                        {{ item.persian_name }}
                                    </a>
                                {% endif %}

                            {% endfor %}
                        </div>

                    </div>

                </div>
    {% endif %}



    </div>




    {% block extra_script %}
        <script>
            $(document).ready(function () {
                $(document).on('click', '.myMenu .item', function (e) {
                    $('.myMenu .item').removeClass('active');
                    $(this).addClass('active');
                    $(this).style.backgroundColor = "black";
                });
            });
        </script>
        <script>
            $('.myMenu .item').tab();</script>
    {% endblock %}
{% endblock %}
